{
  "openapi": "3.0.0",
  "info": {
    "title": "Medoc Backend API",
    "version": "1.0.0",
    "description": "API документация для Medoc Backend"
  },
  "servers": [
    {
      "url": "https://medoc.vastness.ru"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Эндпоинты для авторизации и регистрации"
    },
    {
      "name": "Document",
      "description": "Эндпоинты для работы с документами"
    },
    {
      "name": "Files",
      "description": "Эндпоинты для работы с файлами"
    },
    {
      "name": "Patients",
      "description": "Эндпоинты для работы с пациентами"
    },
    {
      "name": "Contractors",
      "description": "Эндпоинты для работы с контрагентами"
    }
  ],
  "paths": {
    "/api/auth/forgot-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Запрос сброса пароля",
        "description": "Отправляет письмо с уникальной ссылкой для сброса пароля.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Письмо отправлено"
          },
          "400": {
            "description": "Email отсутствует"
          },
          "404": {
            "description": "Пользователь не найден"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/validate-reset-token": {
      "get": {
        "tags": ["Auth"],
        "summary": "Проверка токена сброса пароля",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Токен действителен"
          },
          "400": {
            "description": "Токен истек"
          },
          "404": {
            "description": "Неверный токен или пользователь не найден"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Сброс пароля",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пароль успешно сброшен"
          },
          "400": {
            "description": "Токен истек"
          },
          "404": {
            "description": "Неверный токен или пользователь не найден"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Изменение пароля",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пароль успешно изменён"
          },
          "400": {
            "description": "Неверный текущий пароль"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/register/user": {
      "post": {
        "tags": ["Auth"],
        "summary": "Регистрация нового пользователя",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Пользователь зарегистрирован"
          },
          "400": {
            "description": "Пользователь уже существует"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/register/clinic": {
      "post": {
        "tags": ["Auth"],
        "summary": "Регистрация новой клиники",
        "description": "Создает новую клинику и возвращает JWT токен.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clinicName": {
                    "type": "string",
                    "example": "Клиника Здоровье"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Анна"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Иванова"
                  },
                  "fathersName": {
                    "type": "string",
                    "example": "Сергеевна"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "79998887766"
                  },
                  "email": {
                    "type": "string",
                    "example": "test@gmail.com"
                  },
                  "login": {
                    "type": "string",
                    "example": "clinic_login"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Клиника успешно зарегистрирована"
          },
          "400": {
            "description": "Клиника с таким логином или номером телефона уже существует"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/login/user": {
      "post": {
        "tags": ["Auth"],
        "summary": "Авторизация пользователя",
        "description": "Логин пользователя с использованием номера телефона и пароля",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "example": "71234567890"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация"
          },
          "401": {
            "description": "Неверные учетные данные"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/login/clinic": {
      "post": {
        "tags": ["Auth"],
        "summary": "Авторизация клиники",
        "description": "Выполняет логин клиники с использованием логина и пароля.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "example": "clinic_login"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация"
          },
          "401": {
            "description": "Неверные учетные данные"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Получение данных текущего пользователя",
        "description": "Возвращает данные о текущем пользователе или клинике на основе JWT токена.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "user"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "fathersName": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Токен отсутствует или недействителен"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/auth/clinic/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Получение данных текущей клиники",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Возвращает данные о текущей клинике на основе JWT токена.",
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clinicName": {
                      "type": "string",
                      "example": "Клиника Здоровье"
                    },
                    "responsible": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "fathersName": {
                          "type": "string"
                        }
                      }
                    },
                    "phoneNumber": {
                      "type": "string",
                      "example": "79998887766"
                    },
                    "login": {
                      "type": "string",
                      "example": "clinic_login"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещен для пользователей"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/documents/send": {
      "post": {
        "tags": ["Document"],
        "summary": "Отправка документа на подписание",
        "description": "Отправляет документ на подписание определённому получателю.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipientName": {
                    "type": "string",
                    "example": "Петров Иван Александрович"
                  },
                  "recipientPhoneNumber": {
                    "type": "string",
                    "example": "71234567890"
                  },
                  "documentTitle": {
                    "type": "string",
                    "example": "Договор аренды"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Документ успешно отправлен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "document": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "documentTitle": {
                          "type": "string"
                        },
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            }
                          }
                        },
                        "sender": {
                          "type": "object",
                          "properties": {
                            "clinicName": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            }
                          }
                        },
                        "fileUrl": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Отсутствуют необходимые поля (recipientName, recipientPhoneNumber, documentTitle)"
          },
          "404": {
            "description": "Файл с указанным названием не найден"
          },
          "403": {
            "description": "Клиника не авторизована"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/documents/upload-and-send": {
      "post": {
        "tags": ["Document"],
        "summary": "Загрузка файла и отправка на подписание",
        "description": "Загружает файл в хранилище и создаёт запись в базе данных для отправки на подписание.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Файл, который будет отправлен."
                  },
                  "documentTitle": {
                    "type": "string",
                    "example": "Договор аренды"
                  },
                  "recipientName": {
                    "type": "string",
                    "example": "Петров Иван Александрович"
                  },
                  "recipientPhoneNumber": {
                    "type": "string",
                    "example": "71234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Файл загружен и документ создан для подписания"
          },
          "400": {
            "description": "Файл отсутствует в запросе"
          },
          "403": {
            "description": "Клиника не авторизована"
          },
          "500": {
            "description": "Ошибка при загрузке файла или создании документа"
          }
        }
      }
    },
    "/api/documents/delete/{documentId}": {
      "delete": {
        "tags": ["Document"],
        "summary": "Удаление документа",
        "description": "Удаляет документ со статусами 'Отправлен' или 'Отклонён'.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Документ успешно удалён",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "documentTitle": {
                      "type": "string"
                    },
                    "dateSigned": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Документ нельзя удалить (он уже подписан)"
          },
          "404": {
            "description": "Документ не найден"
          },
          "403": {
            "description": "У вас нет прав на удаление этого документа"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/documents/sent-documents": {
      "get": {
        "tags": ["Document"],
        "summary": "Получение отправленных документов",
        "description": "Возвращает список отправленных документов с фильтрацией и пагинацией.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-01-01"
            },
            "description": "Фильтр по дате создания (начиная с). Формат YYYY-MM-DD"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-12-31"
            },
            "description": "Фильтр по дате создания (до). Формат YYYY-MM-DD"
          },
          {
            "name": "status",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["docSent", "docRejected", "docSigned"]
              }
            },
            "description": "Фильтр по статусам: docSent = Отправлен, docRejected = Отклонён, docSigned = Подписан."
          },
          {
            "name": "recipientName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Поиск по ФИО получателя (регистронезависимый)"
          },
          {
            "name": "recipientPhoneNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Поиск по телефону получателя (регистронезависимый)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Номер страницы"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Количество документов на страницу"
          }
        ],
        "responses": {
          "200": {
            "description": "Список документов с пагинацией",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "recipient": {
                            "type": "object"
                          },
                          "sender": {
                            "type": "object"
                          },
                          "fileUrl": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateSigned": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/documents/for-patient": {
      "get": {
        "tags": ["Document"],
        "summary": "Получение документов для пациента",
        "description": "Возвращает документы для пациента, сгруппированные по клиникам.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clinicName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Фильтр по названию клиники"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список документов, сгруппированных по клиникам",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groupedDocuments": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "sender": {
                              "type": "object"
                            },
                            "fileUrl": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/documents/test/document": {
      "get": {
        "tags": ["Document"],
        "summary": "Тестовый маршрут для получения файла и данных документа",
        "description": "Возвращает захардкоженный документ и файл из S3 (PDF) в виде Base64, для теста.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение тестового документа",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "recipient": {
                          "type": "object"
                        },
                        "sender": {
                          "type": "object"
                        },
                        "status": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "fileContent": {
                      "type": "string",
                      "description": "Содержимое PDF в Base64"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ошибка при получении тестового документа"
          }
        }
      }
    },
    "/api/documents/send-on-sign": {
      "post": {
        "tags": ["Document"],
        "summary": "Отправка SMS-приглашения на подписание",
        "description": "Отправляет SMS на номер получателя, уведомляя о необходимости подписать документ.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentId": {
                    "type": "string",
                    "example": "64f2e9d1231f6b9530a42bbb"
                  }
                },
                "required": ["documentId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "СМС успешно отправлено",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "СМС с приглашением на подписание отправлено"
                    },
                    "smsResponse": {
                      "type": "object",
                      "description": "Ответ от SMS-сервиса (при наличии)",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "documentId обязателен"
          },
          "404": {
            "description": "Документ не найден"
          },
          "500": {
            "description": "Ошибка при отправке СМС"
          }
        }
      }
    },
    "/api/documents/generate-pdf": {
      "post": {
        "tags": ["Document"],
        "summary": "Генерация PDF на основе DOCX-шаблона",
        "description": "Скачивает шаблон из S3, заполняет плейсхолдеры и конвертирует результат в PDF (base64).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipientName": {
                    "type": "string",
                    "example": "Иванов Иван Иванович"
                  },
                  "recipientPhoneNumber": {
                    "type": "string",
                    "example": "79995553311"
                  },
                  "documentTitle": {
                    "type": "string",
                    "example": "Акт об оказании мед услуг"
                  }
                },
                "required": [
                  "recipientName",
                  "recipientPhoneNumber",
                  "documentTitle"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная генерация PDF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "pdfBase64": {
                      "type": "string",
                      "description": "Содержимое PDF в Base64"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Шаблон не найден"
          },
          "500": {
            "description": "Ошибка при генерации PDF"
          }
        }
      }
    },
    "/api/documents/test/move": {
      "post": {
        "tags": ["Document"],
        "summary": "Тестовое перемещение объекта между бакетами",
        "description": "Используется для проверки переноса файла из одного хранилища S3 в другое.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceBucket": {
                    "type": "string",
                    "example": "docuflow-storage"
                  },
                  "targetBucket": {
                    "type": "string",
                    "example": "docuflow-storage-cold"
                  },
                  "objectKey": {
                    "type": "string",
                    "example": "Клиника_Докомед_документы/1739904421818-3fdabdfd-0097-4342-889b-f0b947a6707d"
                  }
                },
                "required": ["sourceBucket", "targetBucket", "objectKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Файл успешно перемещён",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Файл успешно перемещён"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "objectKey": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Необходимо передать sourceBucket, targetBucket и objectKey"
          },
          "500": {
            "description": "Ошибка при перемещении файла"
          }
        }
      }
    },
    "/api/documents/test/fetch-file": {
      "get": {
        "tags": ["Document"],
        "summary": "Тестовый маршрут для получения файла из S3",
        "description": "Принимает bucket и objectKey как query-параметры, скачивает и возвращает файл в base64.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Название бакета"
          },
          {
            "name": "objectKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ключ (путь) файла в бакете"
          }
        ],
        "responses": {
          "200": {
            "description": "Файл успешно загружен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bucket": {
                      "type": "string"
                    },
                    "objectKey": {
                      "type": "string"
                    },
                    "base64": {
                      "type": "string",
                      "description": "Содержимое файла в base64"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Необходимо передать bucket и objectKey"
          },
          "500": {
            "description": "Ошибка при чтении файла"
          }
        }
      }
    },
    "/api/documents/{documentId}": {
      "get": {
        "tags": ["Document"],
        "summary": "Получение документа по ID (PDF в base64)",
        "description": "Загружает документ из базы, проверяет storageClass, при необходимости возвращает в STANDARD, затем скачивает из S3, возвращая base64-содержимое.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор документа"
          }
        ],
        "responses": {
          "200": {
            "description": "Документ найден и возвращён",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            }
                          }
                        },
                        "sender": {
                          "type": "object",
                          "properties": {
                            "clinicName": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            }
                          }
                        },
                        "status": {
                          "type": "string"
                        },
                        "storageClass": {
                          "type": "string"
                        },
                        "lastAccessed": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    },
                    "fileContent": {
                      "type": "string",
                      "description": "Содержимое файла в Base64"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Документ не найден"
          },
          "500": {
            "description": "Ошибка при получении файла"
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "tags": ["Files"],
        "summary": "Получение списка файлов",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Список файлов успешно получен"
          },
          "500": {
            "description": "Ошибка при получении файлов"
          }
        }
      }
    },
    "/api/files/upload": {
      "post": {
        "tags": ["Files"],
        "summary": "Загрузка файла и генерация PDF/PNG превью",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "documentTitle": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean"
                  }
                },
                "required": ["file", "documentTitle"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Файл успешно загружен и обработан"
          },
          "400": {
            "description": "Файл отсутствует в запросе"
          },
          "500": {
            "description": "Ошибка при загрузке файла"
          }
        }
      }
    },
    "/api/files/{id}": {
      "delete": {
        "tags": ["Files"],
        "summary": "Удаление файла по ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Файл успешно удалён"
          },
          "403": {
            "description": "У вас нет прав на удаление этого файла"
          },
          "404": {
            "description": "Файл не найден"
          },
          "500": {
            "description": "Ошибка при удалении файла"
          }
        }
      }
    },
    "/api/files/{id}/pdf": {
      "get": {
        "tags": ["Files"],
        "summary": "Получение PDF-превью файла",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF-превью успешно получено (base64)"
          },
          "400": {
            "description": "У файла нет PDF-превью"
          },
          "403": {
            "description": "Нет доступа к файлу"
          },
          "404": {
            "description": "Файл не найден"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/files/{id}/png": {
      "get": {
        "tags": ["Files"],
        "summary": "Получение PNG-превью файла",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG-превью успешно получено"
          },
          "400": {
            "description": "У файла нет PNG-превью"
          },
          "403": {
            "description": "Нет доступа к файлу"
          },
          "404": {
            "description": "Файл не найден"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/contractors": {
      "get": {
        "tags": ["Contractors"],
        "summary": "Получение списка контрагентов с фильтрами",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "recipientName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientPhoneNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "consentToEDO",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список контрагентов успешно получен"
          },
          "500": {
            "description": "Ошибка при получении контрагентов"
          }
        }
      },
      "post": {
        "tags": ["Contractors"],
        "summary": "Создание контрагента",
        "description": "Создаёт нового контрагента для авторизованной клиники.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "Иван"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Петров"
                  },
                  "fathersName": {
                    "type": "string",
                    "example": "Сергеевич"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "79999999999"
                  }
                },
                "required": ["firstName", "lastName", "phoneNumber"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Контрагент успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "contractor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "fathersName": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Контрагент с таким номером телефона уже существует ИЛИ не переданы необходимые поля"
          },
          "403": {
            "description": "Клиника не авторизована"
          },
          "500": {
            "description": "Ошибка при создании контрагента"
          }
        }
      }
    },
    "/api/contractors/{contractorId}": {
      "delete": {
        "tags": ["Contractors"],
        "summary": "Удаление контрагента",
        "description": "Удаляет контрагента, если у него нет связанных документов (пустой documentIds).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contractorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор контрагента (Contractor._id)"
          }
        ],
        "responses": {
          "200": {
            "description": "Контрагент успешно удалён"
          },
          "400": {
            "description": "Контрагента нельзя удалить, если у него есть документы"
          },
          "403": {
            "description": "Клиника не авторизована"
          },
          "404": {
            "description": "Контрагент не найден"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/contractors/{contractorId}/documents": {
      "get": {
        "tags": ["Document"],
        "summary": "Получение документов контрагента",
        "description": "Возвращает все документы, связанные с указанным контрагентом, принадлежащим текущей клинике.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contractorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID контрагента (Contractor)"
          }
        ],
        "responses": {
          "200": {
            "description": "Список документов контрагента",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contractor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "fathersName": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        }
                      }
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fileUrl": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Контрагент не найден"
          },
          "500": {
            "description": "Ошибка при получении документов контрагента"
          }
        }
      }
    },
    "/api/patients/clinics": {
      "get": {
        "tags": ["Patients"],
        "summary": "Получение списка клиник, взаимодействовавших с пациентом",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Список клиник успешно получен",
            "content": {
              "application/json": {
                "example": {
                  "clinics": [
                    {
                      "clinicName": "ООО Докомед",
                      "senderName": "Филимонов Виталий Алексеевич",
                      "phoneNumber": "79009665643",
                      "lastInteraction": "2025-03-09T20:09:29.521Z",
                      "id": "67cdf5791df84a61db48e123"
                    }
                  ],
                  "totalClinics": 1
                }
              }
            }
          },
          "403": {
            "description": "Пользователь не авторизован"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/api/patients/clinics/{clinicId}/documents": {
      "get": {
        "tags": ["Patients"],
        "summary": "Получение всех документов пациента от конкретной клиники",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clinicId",
            "in": "path",
            "required": true,
            "description": "ID клиники",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Документы успешно получены",
            "content": {
              "application/json": {
                "example": {
                  "clinic": {
                    "id": "67cdf5791df84a61db48e123",
                    "clinicName": "ООО Докомед",
                    "phoneNumber": "79009665643"
                  },
                  "documents": [
                    {
                      "_id": "67cdf5791df84a61db48e10a",
                      "title": "Договор от 05.03.2025",
                      "status": "Подготовлен",
                      "createdAt": "2025-03-09T20:09:29.521Z",
                      "sender": {},
                      "recipient": {}
                    }
                  ],
                  "totalDocuments": 1
                }
              }
            }
          },
          "403": {
            "description": "Пользователь не авторизован"
          },
          "404": {
            "description": "Клиника не найдена"
          },
          "500": {
            "description": "Ошибка сервера"
          }
        }
      }
    },
    "/ws/document-signing": {
      "get": {
        "tags": ["WebSocket"],
        "summary": "WebSocket подключение для подписания документов",
        "description": "**WebSocket URL:** `wss://medoc.vastness.ru`\n\n Используется для отслеживания событий по подписанию документов в реальном времени.\n\n **События**:\n - `joinDocument` – подключение к комнате документа.\n - Пример: `{ documentId: 'abc123', role: 'clinic' | 'patient' }`\n\n - `documentSigned` – уведомление, что документ подписан.\n - Ответ: `{ documentId: 'abc123', timestamp: '2025-03-27T10:00:00Z' }`\n\n - `patientSigned` – отправляется клиентом при завершении подписи.\n - Пример: `{ documentId: 'abc123' }`\n\n **Роли**:\n - `clinic`: слушает события\n - `patient`: отправляет событие подписания\n\n WebSocket подключение не требует отдельной авторизации. Все события отправляются через `socket.emit(...)`.",
        "responses": {
          "101": {
            "description": "WebSocket соединение установлено"
          }
        }
      }
    }
  }
}
